.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin-top: 35px;
}

.item {
  width: 300px;
  height: 343px;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 12px;
  padding: 20px;
  position: relative;

  span {
    width: 240px;
    position: absolute;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    bottom: 20px;
  }
}
