.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.item {
  width: 135px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 20px 40px;
  background: #ffffff;
  border: 1px solid #f0f0f0;
  border-radius: 12px;
  font-size: 18px;

  cursor: pointer;

  transition: transform 0.2s;

  &:hover {
    transform: scale(1.05);
  }
}
