.field {
  background: #ffffff;
  border: 1px solid #f0f0f0;
  padding: 13px 40px;
  border-radius: 6px;
  font-weight: 400;
  font-size: 16px;
//   width: 100%;
}

.label {
  position: relative;
//   width: 100%;

  &::after {
    content: ' ';
    background-image: url(../../assets/icons/location.svg);
    position: absolute;
    width: 20px;
    height: 20px;
    left: 12px;
    top: 14px;
  }
}
